<div class="item">
    <div class="container">
    <div class="row">
        <div class="col s12">
            <div class="title">
            <h1>TexnoShop</h1>
                <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis consequatur explicabo asperiores al dignissimoat, quopossimus impedit expedita non, porro accusantium tempora eius hic laboriosam? Ea recusandae nulla paria  illum soluta nobiametblanditiis architecto minima velit sunt necessitatibus numquam, ratione reiciendis odit dicta ear ex aliquid quam iste.</p> 
            </div>
        </div>
    </div>
</div> 
</div>